extends layout

block content

  header#fh5co-header.fh5co-cover(role='banner', style='background-image:url(https://s3.us-east-2.amazonaws.com/wedding-assets-statics/public/images/Engagement-8.jpg);', data-stellar-background-ratio='0.5')
    .overlay
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          .display-t
            .display-tc.animate-box(data-animate-effect='fadeIn')
              h1 James & Teresa
              h2 Come celebrate with us!
              .simply-countdown.simply-countdown-one
              p
                a.btn.btn-default.btn-sm(href='https://s3.us-east-2.amazonaws.com/wedding-assets-statics/public/event_file/James_and_Teresas_Wedding.ics') Save the date

  #fh5co-event.fh5co-bg(style='background-image:url(https://s3.us-east-2.amazonaws.com/wedding-assets-statics/public/images/gradient.jpg);')
    .overlay
    .container
      .row
        .col-md-6.text-center.fh5co-heading.animate-box
          h2 Main Ceremony
          p.time(style='white-space:pre;')
            span
              | Saturday November 4th, 2017
              | To begin promptly at 4:00 PM
          p.info(style='white-space:pre;')
            span
              | Santee Conference Center
              | 1737 Bass Dr.
              | Santee, SC 29142
              |
              | Reception will be held in the same location
              | immediately following the wedding ceremony

        .col-md-6.text-center.fh5co-heading.animate-box
          #map
          p.hotel(style='white-space:pre;')
            span
              |
              | Hotel Information:
              | Rooms can be reserved by August 4th, 2017
              | Party name: Parler-Byrd Wedding
              |
              a(href='https://www.ihg.com/holidayinn/hotels/us/en/santee/sntee/hoteldetail?cm_mmc=GoogleMaps-_-HI-_-USA-_-SNTEE') Holiday Inn Santee


  #fh5co-couple-story(style='background-image:url(https://s3.us-east-2.amazonaws.com/wedding-assets-statics/public/images/Engagement-50.jpg);')
    .container
      .row
        .text-center.fh5co-heading.animate-box
          h2 Our Story
          .story
            p Teresa and James have known each other for just about twelve years. James is a native of Detroit, Michigan, while Teresa is a southern belle, born and raised in Santee, South Carolina. The two met on the wonderful college campus of the University of South Carolina Upstate. Total opposites in personality, James was rather popular while Teresa was very quiet and reserved.

            p As incoming freshman James and Teresa shared several classes, although they rarely spoke to one another. It wasn't until taking a geography course together that they were forced to begin communicating. James asked to borrow Teresa's textbook, to which she agreed - and it didn't hurt that she thought he was cute. Addtionally, James was very well-versed on the subject and could help Teresa with her studies - it was an even tradeoff. In the beginning the two would meet to discuss course materials. As time passed they began spending more and more time together. Studying turned into hanging out, going to the movies, and dinner dates. Eventually they made it official. Around year four of their relationship things began to change for the worse. James had suffered the loss of someone very dear to him. He didn't quite know how to deal with death and instead of getting closer to Teresa, he drifted further away.

            p James and Teresa graduated a semester apart, after which he moved back to Michigan, and she back home to Santee. The two didn't keep in touch much after that. Four years passed, during which both had moved on with their lives and there had been no communication between them. One night Teresa had a dream about James. She couldn't shake the feeling of not knowing if the man she loved in college was doing alright. After wrestling with the idea of reaching out, Teresa eventually mustered up enough courage to send a text message to the last phone number that she had for James. It read: “Hi James, this is Teresa. I'm not even sure if this is still your telephone number, but I wanted to see how you were doing.” He responded immediately, saying how he had been thinking of her for some time, but was afraid to reach out.

            p Since that day, James and Teresa haven't stopped communicating. The two fell in love all over again, and this time around there was a ring involved! Their story is a special one which they wouldn't trade for the world.

  #fh5co-gallery.fh5co-section-gray(style='background-image: url(https://s3.us-east-2.amazonaws.com/wedding-assets-statics/public/images/gradient-blue1.jpg);')
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
          h2 Wedding Gallery
      .row.row-bottom-padded-md
        .col-md-12
          ul#fh5co-gallery-list
            li.one-fourth.animate-box(data-animate-effect='fadeIn', style='background-image: url(https://s3.us-east-2.amazonaws.com/wedding-assets-statics/public/images/Engagement-2.jpg); ')
            li.one-fourth.animate-box(data-animate-effect='fadeIn', style='background-image: url(https://s3.us-east-2.amazonaws.com/wedding-assets-statics/public/images/Engagement-9.jpg); ')
            li.one-fourth.animate-box(data-animate-effect='fadeIn', style='background-image: url(https://s3.us-east-2.amazonaws.com/wedding-assets-statics/public/images/Engagement-3.jpg); ')
            li.one-fourth.animate-box(data-animate-effect='fadeIn', style='background-image: url(https://s3.us-east-2.amazonaws.com/wedding-assets-statics/public/images/Engagement-6.jpg); ')
